<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
    </queries>

    <application
        android:allowBackup="false"
        android:label="Gesture IME"
        android:supportsRtl="true"
        android:theme="@style/Theme.GestureIme">
        <activity
            android:name=".SetupActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ImeTestActivity"
            android:exported="false" />
        <activity
            android:name=".LicenseActivity"
            android:exported="false" />
        <activity
            android:name=".QwertyLabelAdjustmentActivity"
            android:exported="false" />

        <service
            android:name=".ImeService"
            android:exported="true"
            android:label="Gesture IME"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>
    </application>
</manifest>
